extends layout

block extraJS
  script(type='text/javascript').
    var statData = !{JSON.stringify(stats)}

  script(src='//d3js.org/d3.v3.js' charset='utf-8')
  script(src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js")
  script(src='/javascripts/userpage.js', type='text/javascript')

block content


  .wrapper.col-md-10.col-md-offset-1
    h1= title



    a(href='/', data-i18n="buttons.back")

    h1 #{user.username}
    p #{user.firstName} #{user.lastName}

    .userpageIntro
      p(data-i18n="[html]markup.userpageIntro.0")
      p(data-i18n="[html]markup.userpageIntro.1")
      p(data-i18n="[html]markup.userpageIntro.2")
      p(data-i18n="[html]markup.userpageIntro.3")
      p(data-i18n="[html]markup.userpageIntro.4")
      p(data-i18n="[html]markup.userpageIntro.5")

    h1(data-i18n="markup.statistics")
    #totalStats

      #totalAttempts
        span(data-i18n='markup.totalAttempts')
        | : &nbsp;
        span#totalAmount

      #correctAttempts
        span(data-i18n='markup.correctAttempts')
        | : &nbsp;
        span#totalCorrect
        | &nbsp;
        span#correctPercent

      #timeTaken
        span(data-i18n='markup.avgTimeTaken')
        | : &nbsp;
        span#avgTime

    br
    br
    #statButtons
      label(data-i18n="markup.setTime" for="timeButtons")
      .btn-group-justified#timeButtons
        .btn-group
          button.btn.btn-default.timeSpanBtn
            span.number 7
            | &nbsp;
            span(data-i18n="buttons.days")
        .btn-group
          button.btn.btn-default.timeSpanBtn
            span.number 30
            | &nbsp;
            span(data-i18n="buttons.days")
        .btn-group
          button.btn.btn-default.timeSpanBtn
            span.number 90
            | &nbsp;
            span(data-i18n="buttons.days")


    #statsByLevel
      //each level, i in stats
      //  .levelStats
      //    p #{i}
      //    p #{level}
      //    //script(type='text/javascript').
      //      d3.select(".levelStats").selectAll('p').data(stats[1].byDays).enter().append("p").text("lel");

    //#rect-demo

    pre #{JSON.stringify(stats)}

    //script(type='text/javascript').
    //  //console.log(statData);
    //  console.log('con: ');
    //  console.log(JSON.stringify(statData));


